cat <<EOF >> .gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/

# Environment variables
.env
t
# Log files
*.log

# JSON data files
expenses.json
EOF
